.Aligner {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 70px;
  }
  
  .Aligner-item {
    max-width: 70%;
  }
  
  .center{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 50%
  }